Autocomplete{
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 100px 100px;
    background-repeat: no-repeat;
    padding: 7px 20px 10px 9px;
}