.movie-list {
  border: thin solid blue;
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.movie-list-text {
  position: relative;
  top: -47px;
  background: white;
  padding: 7px;
  width: 106px;
  color: blue;
}
